[class*="field-field_group"] {
	--primary-field-background-color: transparent;
	border: initial;
	border-radius: initial;
}

.field-field_group_start {
	margin-top: var(--standard-outer-rhythm);
	margin-bottom: var(--standard-inner-rhythm);
	display: flex;
	align-items: center;
	text-indent: var(--spacing-micro);
}

.field-field_group_end {
	margin-top: var(--standard-outer-rhythm);
	margin-bottom: var(--standard-outer-rhythm);
}

.field-field_group_end+.field {
	border-top-left-radius: var(--radius-current);
	border-top-right-radius: var(--radius-current);
}