.field-field_group_start {
	color: #2f77eb;
	margin: 0 0 1.5rem;
}

.field-field_group_end {
	display: none;
}

.field-group {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 3rem;
	padding: 1.5rem;
	border: 1px solid #d3dce2;
}

.field-group > div:last-child,
.field-group > div:last-child label {
	margin-bottom: 0!important;
}
